/* Natural Tags */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: black;
  font-family: "Hornet";
  color: rgb(136, 238, 195);;
}

/* Classes */

/* IDs */
#container {
  position: absolute;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  height: 100%;
}