/* Natural Tags */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: black;
  font-family: "Hornet";
  color: rgb(136, 238, 195);;
}

/* Classes */
.text {
  font-size: 1.5vw;
}

.warning {
  border: 1px solid red;
  color: red;
  opacity: 0.6;
  text-align: center;
}

/* IDs */
#container {
  position: absolute;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  height: 100%;
}

#altitude-data {
  position: fixed;
  left: 5px;
  top: 0px;
}

#heading-data {
  position: fixed;
  right: 5px;
  top: 0px;
}

#warnings {
  position: fixed;
  width: 30%;
}